/* =Speakers
===================================================== */

// Speakers
//
// Speakers list
//
// Markup: speakers.html
//
// Style guide: 6.speakers

body.page-slug-speakers {
  #primary {
    @include mq-medium {
      max-width: 70rem;
    }
  }
}

.wcorg-speakers {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include mq-small {
    margin-left: -30px;
    margin-right: -30px;
  }

}

img.grav-clone {
  border: 0 !important;
  display: none !important;
}

.wcorg-speaker {

  @include mq-small {
    flex: 1 1 43%;
    margin: 0 30px 15px;
  }
  @include mq-medium {
    flex: 1 1 25%;
    margin: 0 30px 15px;
  }

  border-top: 1px solid $color-border-weak;
  padding: $unit-default 0;

  h2 {
    margin-bottom: 1em;
    @include mq-medium {
      font-size: 1.8rem;
    }
  }

  .wcorg-speaker-description {

    @include clearfix();

  }


  .avatar {

    float: left;
    width: 100%;
    height: auto;
    margin: $unit-xs $unit-m 1em 0;

  }


  p {

    margin-bottom: $unit-xs;

    font-size: ms(0, 16px);

    &:last-child {

      margin-bottom: 0;

    }

  }

  h3 {

    text-transform: none;

  }

  ul {}
  li {}

}

/*
 * Speaker page
 */

.single-wcb_speaker {

  .entry-content {

    font-size: ms(0, 18px);

  }

}

#session-speaker-names,
#speaker-session-names {

  @include list-reset();

  margin-bottom: $unit-default;

  li {

    padding-left: rem(32);

    background-image: $image-bullet-dark;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: $unit-xs $unit-xs;

    font-size: ms(0);
    line-height: ms(2);

  }

}
