/* =Layout
===================================================== */

.site {

  overflow: hidden; // Easier to style skip links
  position: relative;

}

body.home {
  h2.entry-title {
    display: none;
  }
}
